body {
    text-align: center;
	margin: 0;
}

a, h1, h2, h3 {
    text-transform: uppercase;
}

a {
    font-family: Raleway;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    margin: 0 20px;
    text-align: center;
}

h1, h2, h3 {
    font-family: Raleway;
    letter-spacing: 1px;
}

h1 {
    font-size: 45px;
	margin: 0;
}

h2 {
    font-size: 20px;
    font-weight: 600;
	color: #0D2C40; 
}

h3 {
	color: #0D2C40; 
}

p {
    font-family: "Droid Serif";
    line-height: 26px;
    font-size: 18px;
}

header {
	background-color:  #2b2828;
	color: #FFFFFF;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
	background-color: #314d6e;
	color: #FFFFFF;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}

main {
	width: 850px;
	margin: 25px auto;
}

img {
	margin: 32px 8px 8px 0;
}

footer {
    text-transform: uppercase;
    padding: 0 20px 0 20px;
    background-color: #314d6e;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}

input[type=button] {
    font-family: Raleway;
    text-transform: uppercase;
    background-color: #314d6e;
    border: 4px solid #2b2828;
    color: white;
    padding: 4px 36px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: 650;
    letter-spacing: .08em;
    margin: 0 auto;
}

.top-a1, .top-a2 {
    border-bottom: 2px solid transparent;
}

.top-a1:hover, .top-a2:hover {
    border-color: #FFFFFF;
}

.copyright, .message {
    font-family: Raleway;
}

.copyright {
    float: left;
}

.message {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
    }

.bottom-link {
    position: relative;
    top: 20px;
    color: white;
}

.bottom-link:hover {
    color: #2b2828;
}

.name {
    color: #FFFFFF;
    font-weight: 700;
}

#totalpoints {
    font-family: Raleway;
    color: #314d6e;
    font-size: 35px;
}

.totalpoints {
    padding-top: 30px;
    position: relative;
}

#game {
    display: block;
    float: center;
}